<form method="post" action="{{ path('app_clauses_delete', {'id': clause.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ clause.id) }}">

    <button class="btn btn-danger w-34"><i class="fa-solid fa-trash"></i> Suprimer</button>
</form>
