{% extends 'raw.html.twig' %}

{% block title %}Hello AccountController!
{% endblock %}

{% block content %}
	<div class="basis-full col-sm-8 lg:basis-1/2 px-2 my-3 mt-5">
		<div class="content mt-5">
			<h3>Votre mail a bien été envoyé</h3>
			<div class="row">
				<div class="col-md-12 my-5">
					Nous tenons à vous remercier de votre retour et vous assurons qu'il sera pris en compte afin d'améliorer nos services.<br>
					Toute notre équipe vous souhaite une bonne journée.
				</div>
				<div class="flex justify-center">
					<a href="https://www.google.com" class="btn btn-secondary btn-sm w-3 my-2">Au revoir</a>
				</div>
			</div>
		</div>
	{% endblock %}
