{% extends 'bam_base.html.twig' %}

{% block title %}Modification du compte
{% endblock %}

{% block content %}
	<div class="card container">
		<div class="flex justify-between w-full">
			<div>
				<h1>Modifier :
					{{ company.name }}</h1>
			</div>
			<div>
				{{ include('bam/companies/_delete_form.html.twig') }}
			</div>
		</div>
		{{ include('bam/companies/_form.html.twig', {'button_label': 'Update'}) }}
	</div>
{% endblock %}
