{% extends 'logged_in_base.html.twig' %}

{% block title %}Création de société
{% endblock %}

{% block content %}
	<div class="container">
		<h1>Création d'une nouvelle société</h1>
		{{ include('bam/companies/_form.html.twig') }}
	</div>
{% endblock %}
