<div class="auth-content">
	<div>
		<div class="label">Nom :</div>
		<div class="value">xxxxxxxxxxx</div>
	</div>
	<div>
		<div class="label">Prénom :</div>
		<div class="value">xxxxxxxxxxx</div>
	</div>
	<div>
		<div class="label">Date et heure de la connexion :</div>
		<div class="value">xxxxxxxxxxx</div>
	</div>
	<div>
		<div class="label">Adresse IP de l'utilisateur :</div>
		<div class="value">xxxxxxxxxxx</div>
	</div>
	<div>
		<div class="label">Identité fourni par :</div>
		<div class="value">xxxxxxxxxxx</div>
	</div>
</div>
