<div id="identity" class="modal-container flex justify-around">
	<div class="modal-popup">
		<button class="close-popup">x</button>
		<h1 class="h3 mb-3 font-weight-normal">Identifiez votre concubin</h1>
		<div id="modal-content" class="flex justify-center my-8">
				<div class="w-full bg-slate-300 p-5">
				{% include 'idfracon/form/_id_form.html.twig' %}</div>
		</div>
	</div>
</div>
