{% block form_errors %}
    {% if errors|length > 0 %}
        <ul class="bg-red-500 text-slate-50 p-1">
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
