<style>
	body {
		background-color: #D6EBE8;
		font-family: "Spartan", sans-serif;
		font-weight: normal;
		font-style: normal;
		color: #7A7A7A;
		font-size: 14px;
	}

	.mail-container {
		margin: 100px auto;
		width: 90%;
	}

	.content {
		border-radius: 0.5em;
		background-color: white;
	}

	form > label {
		margin: 10px;
	}

	.image-container {
		border-top-left-radius: 0.5em;
		border-top-right-radius: 0.5em;
		align-items: center;
		text-align: center;
		display: flex;
		justify-content: space-around;
		overflow: hidden;
		max-height: 200px;
		width: 100%;
	}

	.image-container img {
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 100%;
	}

	.mail-content {
		padding: 0 16px 16px;
	}

	.title {
		display: flex;
		padding: 5px;
	}

	.title > h1 {
		font-size: 22px;
		width: max-content;
	}

	.message {
		margin: 20px 0 5px;
		text-align: justify;
	}

	.bouton-container {
		align-items: center;
		display: flex;
		justify-content: space-around;
	}

	.btn {
		display: block;
		text-align: center;
		text-decoration: none;
		vertical-align: middle;
		cursor: pointer;
		border-radius: 5px;
		font-size: 16px;
		width: 40%;
		padding: 10px;
		margin: 0 10px;
	}

	.gd {
		color: #fff;
		background-color: #2E924F;
	}

	.bd {
		color: #000;
		background-color: #F9B338;
	}

	@media(min-width: 992px) {
		.mail-container {
			flex: 0 0 auto;
			width: 100%;
		}
	}
</style>
<div class="mail-container">
	<div class="content">

		<div class="banner-container">
			<div class="image-container">
				<img class="image-tag" src="[[data:email.image('@images/' ~ imageName)]]" alt="[[data:structure]]-alt">
			</div>
			<div class="title">
				<h1>[[data:structure]]-h1</h1>
			</div>
		</div>

		<div class="mail-content">
			<h2>[[data:subject ]]</h2>
			<div class="message">Bonjour.<br>
				<p>
					Vous avez récemment été accueillis dans notre établissement :
					<strong>"[[data:structure]]"</strong>.
				</p>
				<p>
					Soucieux de l'amélioration continue de nos prestations et afin de répondre au mieux à vos attentes, nous avons mis en place cette enquête de satisfaction.
				</p>
				<p>
					Toutes les données recueillies restent confidentielles et seront traitées de manière anonyme.
				</p>
				<h3>
					Qu'avez vous pensé de la qualité de nos services ? :
				</h3>
			</div>
			<div class="bouton-container"><br>
				<a href="[[data:returnUrl]]" class="btn bd">
					plutot mécontent</a>
				<a href="[[data:googleUrl ]]" class="btn gd">
					plutot satisfait</a>
			</div>
		</div>
	</div>
</div>
