<!-- Start Footer Area -->
<footer class="footer">
	<div class="logo flex justify-between pl-5 pt-1">
		<a href="www.usygec.fr"><img class="logo1 rounded-2" src="{{ asset('build/images/logo/logo-usygec.gif') }}" alt="Logo"/></a>
	</div>
</footer>
