<div class="flex justify-end w-full">
	<div class="my-0">
		<ul class="list-none mx-2">
			<li class="text-gray-500 p-1">
				<a href="{{ path('app_clauses_index') }}" class="font-ubuntu text-base mt-1">
					<i class="fa-solid fa-eye me-1"></i>
					Clauses</a>
			</li>
		</ul>
	</div>
</div>
