
<header class="header-bar flex justify-center m-5">

	<div class="branding">
		<a class="" href="https://leguay-assurances.fr/"><img class="mobile-logo preload-me" src="https://leguay-assurances.fr/wp-content/uploads/2020/10/LOGO_400.png" srcset="https://leguay-assurances.fr/wp-content/uploads/2020/10/LOGO_400.png 400w" width="200" height="60" sizes="200px" alt="Leguay Assurances"/></a>
	</div>

	<ul id="primary-menu" class="main-nav flex justify-around w-4/5 m-auto">
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1207 current_page_item menu-item-1243 act first depth-0">
			<a href='https://leguay-assurances.fr/' data-level='1'>
				<span class="menu-item-text">
					<span class="menu-text">Leguay Assurances</span>
				</span>
			</a>
		</li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1349 depth-0">
			<a href='https://leguay-assurances.fr/entreprise/' data-level='1'>
				<span class="menu-item-text">
					<span class="menu-text">Entreprise</span>
				</span>
			</a>
		</li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1365 depth-0">
			<a href='https://leguay-assurances.fr/gestion-patrimoine-vie/' data-level='1'>
				<span class="menu-item-text">
					<span class="menu-text">Gestion patrimoine &#038; vie</span>
				</span>
			</a>
		</li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1244 depth-0">
			<a href='https://leguay-assurances.fr/prevoyance/' data-level='1'>
				<span class="menu-item-text">
					<span class="menu-text">Prévoyance</span>
				</span>
			</a>
		</li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1382 depth-0">
			<a href='https://leguay-assurances.fr/agrs-prevoyance/' data-level='1'>
				<span class="menu-item-text">
					<span class="menu-text">AGRS</span>
				</span>
			</a>
		</li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1374 depth-0">
			<a href='https://leguay-assurances.fr/risques-du-particulier/' data-level='1'>
				<span class="menu-item-text">
					<span class="menu-text">Risques du particulier</span>
				</span>
			</a>
		</li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1245 has-children depth-0">
			<a href='https://leguay-assurances.fr/news/' data-level='1'>
				<span class="menu-item-text">
					<span class="menu-text">Actualités</span>
				</span>
			</a>
		</li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1246 last depth-0">
			<a href='https://leguay-assurances.fr/contact/' data-level='1'>
				<span class="menu-item-text">
					<span class="menu-text">Contact</span>
				</span>
			</a>
		</li>
	</ul>

</header>
