<header class="flex flex-row justify-between items-center w-full h-[89px] border-b border-gray-300 pb-2 shadow-md">
	<div class="md:-3/5 w-1/5">
		<a class="" href="{{ path('home') }}">
			<span class="md:hidden">
				<img src="{{ asset('logo/vv-tny-logo-usygec.gif') }}">
			</span>
			<span class="hidden md:block">
				<img src="{{ asset('logo/logo-usygec.gif') }}" class="max-h-16">
			</span>
		</a>
	</div>
	<div class="w-4/5 flex justify-end">
		{{ include('main/partials/_connexion.html.twig') }}
	</div>
</header>
