<!-- Start Hero Area -->

<section
	class="hero-area">
	<!-- Single Slider -->
	<div class="hero-inner">
		<div class="container">
			<div class="row ">
				<div class="lg:basis-1/2 co-12">
					<div class="home-slider">
						<div class="hero-text">
							<h1 class="wow fadeInUp" data-wow-delay=".3">Développeur full-stack.</h1>
							<h3 class="wow fadeInUp" data-wow-delay=".5s">La maitrise de toute la chaine.</h3>
							<p class="fadeInUp my-3 text-justify" data-wow-delay=".6s">
								Un développeur full-stack est capable de travailler sur l'ensemble de la pile technologique d'une application, depuis le développement côté serveur jusqu'au développement côté client. En d'autres termes, il maîtrise à la fois le développement back-end (serveur, base de données, API, etc.) et le développement front-end (interface utilisateur, expérience utilisateur, etc.).</p>
							<p>Il est capable de concevoir, de créer et de maintenir une application web complète, de la base de données à l'interface utilisateur.</p>
							<p class="fadeInUp my-3 text-justify" data-wow-delay=".6s">Contactez-moi dès aujourd'hui pour discuter de vos besoins et voir comment je peux vous aider à atteindre vos objectifs en ligne.</p>
							<p class="fadeInUp my-3 text-justify" data-wow-delay=".6s"></p>
							<div class="wow fadeInUp flex justify-center" data-wow-delay=".7s">
								<a href="{{path('contact')}}" class="btn btn-primary btn-sm">
									<i class="lni lni-envelope"></i>
									Contactez moi</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/ End Single Slider -->
</section>
<!--/ End Hero Area -->
