<!-- Start Latest News Area -->
<div class="latest-news-area section">
	<div class="container">
		<div class="row">
			<div class="basis-full">
				<div class="section-title">
					<span class="wow fadeInDown" data-wow-delay=".2s">latest news</span>
					<h2 class="wow fadeInUp" data-wow-delay=".4s">Latest News & Blog</h2>
					<p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem
						                            Ipsum available, but the majority have suffered alteration in some form.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div
				class="col-lg-4 col-md-6 basis-full">
				<!-- Single News -->
				<div class="single-news wow fadeInUp" data-wow-delay=".2s">
					<div class="image">
						<img class="thumb" src="assets/images/blog/blog-grid1.jpg" alt="#">
						<div class="meta-details">
							<img src="assets/images/blog/author.jpg" alt="#">
							<span>BY TIM NORTON</span>
						</div>
					</div>
					<div class="content-body">
						<h4 class="title">
							<a href="blog-single-sidebar.html">Make your team a Design driven
								                                    company</a>
						</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
							                                has been the industry's standard.</p>
					</div>
				</div>
				<!-- End Single News -->
			</div>
			<div
				class="col-lg-4 col-md-6 basis-full">
				<!-- Single News -->
				<div class="single-news wow fadeInUp" data-wow-delay=".4s">
					<div class="image">
						<img class="thumb" src="assets/images/blog/blog-grid2.jpg" alt="#">
						<div class="meta-details">
							<img src="assets/images/blog/author.jpg" alt="#">
							<span>BY TIM NORTON</span>
						</div>
					</div>
					<div class="content-body">
						<h4 class="title">
							<a href="blog-single-sidebar.html">The newest web framework that changed
								                                    the world</a>
						</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
							                                has been the industry's standard.</p>
					</div>
				</div>
				<!-- End Single News -->
			</div>
			<div
				class="col-lg-4 col-md-6 basis-full">
				<!-- Single News -->
				<div class="single-news wow fadeInUp" data-wow-delay=".6s">
					<div class="image">
						<img class="thumb" src="assets/images/blog/blog-grid3.jpg" alt="#">
						<div class="meta-details">
							<img src="assets/images/blog/author.jpg" alt="#">
							<span>BY TIM NORTON</span>
						</div>
					</div>
					<div class="content-body">
						<h4 class="title">
							<a href="blog-single-sidebar.html">5 ways to improve user retention for
								                                    your startup</a>
						</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
							                                has been the industry's standard.</p>
					</div>
				</div>
				<!-- End Single News -->
			</div>
		</div>
	</div>
</div>
<!-- End Latest News Area -->
