<!-- Start Newsletter Area -->
<section class="newsletter-area section">
	<div class="container">
		<div class="row ">
			<div
				class="col-lg-8 basis-full">
				<!-- Start Newsletter Form -->
				<div class="subscribe-text wow fadeInLeft" data-wow-delay=".2s">
					<h6>Sign up for Newsletter</h6>
					<p class="">Sign Up and start using a free account
						<br>
						to see what it's all about.</p>
					<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
						<input name="EMAIL" placeholder="Your email address" class="common-input" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'" required="" type="email">
						<div class="button">
							<button class="btn">Subscribe Now!</button>
						</div>
					</form>
				</div>
				<!-- End Newsletter Form -->
			</div>
			<div class="col-lg-4 basis-full">
				<div class="mini-call-action wow fadeInRight" data-wow-delay=".4s">
					<h4>Do you want to grow your online business with Massive?</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					<div class="button">
						<a href="#" class="btn">Get Started</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /End Newsletter Area -->
