<!-- Start Service Area -->
<section class="services section">
	<div class="container mt-5">
		<div class="row">
			<div class="basis-full">
				<div
					class="section-title align-left">
					<!-- <span class="fadeInDown" data-wow-delay=".2s">Réalisations :</span> -->
					<h1 class="fadeInUp" data-wow-delay=".4s">Les projets sur lesquels j'ai travaillé.</h1>
					<p class="fadeInUp my-3 text-justify" data-wow-delay=".6s">
						J'ai eu l'opportunité de travailler sur une variété de projets passionnants au cours ces dernières années. Site web d'entreprise, site d'exposition, conception de plateformes de commerce électronique etc ...</p>
					<p>
						J'ai également travaillé sur des projets de développement de logiciels, allant de la création de systèmes de gestion de contenu à la mise en place de solutions de comparaison de données.</p>
					<p class="fadeInUp my-3 text-justify" data-wow-delay=".6s">Voici donc quelques unes de mes réalisations faites principalement avec le framework symfony dynamisées par des fonctionalités en javascript :</p>
				</div>
				{# Cards Row projects#}
				<!-- <span class="fadeInDown" data-wow-delay=".2s">Réalisations effectives :</span> -->
				<h1 class="fadeInUp" data-wow-delay=".4s">Solutions innovantes :</h1>
				<div class="single-head my-3">

					<div class="basis-full my-3">
						<div class="single-service wow fadeInUp" data-wow-delay=".2s">
							<h3>
								<a href="https://comparateur.usygec.fr/" target="_blank" class="stretched-link">Comparateur de produits financier</a>
							</h3>
							<div class="flex justify-between">
								<div class="icon">
									<a href="https://comparateur.usygec.fr/" target="_blank">
										<i class="lni lni-stats-up"></i>
									</a>
								</div>
								<div class="col-10">
									<p>
										<strong>
											Il s'agit d'une application pour optimiser la présentation de produits financiers à destination du client final.</strong>
									</p>
									<p>
										On présente à l'utilisateur un panel de produits financiers avec une description succincte.
										<br>
										L'utilisateur peut sélectionner jusqu'à trois produits pour les comparer de façon exhaustive point par point.</p>
									<p>Par ailleurs une page de garde présente un produit mis en avant, ainsi qu’un bulletin d’actualité.</p>
									<p>Un back office sécurisé permet de créer, éditer, mettre en avant et détruire les produits financiers.
										<br>Mais aussi de créer, éditer, détruire et publier le bulletin d'actualité.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="basis-full my-3">
						<div class="single-service wow fadeInUp" data-wow-delay=".4s">
							<h3>
								<a href="https://www.studiotrace.fr/" target="_blank" class="stretched-link">Site WordPress</a>
							</h3>
							<div class="flex justify-between">
								<div class="icon">
									<a href="https://www.studiotrace.fr/" target="_blank">
										<i class="lni lni-wordpress"></i>
									</a>
								</div>
								<div class="col-10">
									<p>
										<strong>Un site internet de présentation pour une agence de maîtrise d'oeuvre.</strong>
									</p>
									<p>Le client veut avoir la main sur la publication du contenu le plus simplement et intuitivement possible.</p>
									<p>La présentation des projets sur la page de garde devra être un diaporama reprenant automatiquement toutes les images du projet en question.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="basis-full my-3">
						<div class="single-service wow fadeInUp" data-wow-delay=".6s">
							<h3>
								<a href="http://www.usygec.fr/login" target="_blank" class="stretched-link">Easy Google Review</a>
							</h3>
							<div class="flex justify-between">
								<div class="icon">
									<a href="http://www.usygec.fr/login" target="_blank">
										<i class="lni lni-target"></i>
									</a>
								</div>
								<div class="col-10">
									<p>
										<strong>Une application pour orienter les "avis" positifs vers google.</strong>
									</p>
									<p>L’utilisateur peut lancer une enquête sur la qualité du service de son ou ses entreprises.</p>
									<p>Cette enquête peut être effectuée de 3 façons.<br>
										1 - Individuellement en entrant les email individuellement.<br>
										2 - Massivement par l’importation d’un fichier au format csv.<br>
										3 - Passivement en imprimant un QR code à afficher à la vue du public.</p>
									<p>L'enquête se présente comme un mail/page avec deux options :<br>
										1 - Plutôt content : La personne sondée est redirigée directement sur la page avis de google.<br>
										2 - Plutôt mécontent : La personne sondée est redirigée sur une page interne de l’application ou il pourra donner des détails sur son mécontentement (date du rdv, note sur 10 et commentaire)</p>
									<p>L’application utilise l'API de mailjet pour l’envoi des emails.</p>
									<p>Testez avec e-mail: "test@usygec.fr" et mot de passe : "secret".</p>
								</div>
							</div>
						</div>
					</div>
					<div class="basis-full my-3">
						<div class="single-service wow fadeInUp" data-wow-delay=".6s">
							<h3>
								<a href="http://www.koikeu.fr" target="_blank" class="stretched-link">Site vitrine</a>
							</h3>
							<div class="flex justify-between">
								<div class="icon">
									<a href="http://www.koikeu.fr" target="_blank">
										<i class="lni lni-shopping-basket"></i>
									</a>
								</div>
								<div class="col-10">
									<p>
										<strong>Un site d'exposition de produits artisanaux.</strong>
									</p>
									<p>Pour le commanditaire il s’agit d’une activité extra-professionnelle afin de développer sa fibre artistique lors du confinement de 2020. Il ne s'agit donc pas d’un site marchand à proprement parler car cette personne ne voulait pas engager une relation contractuelle automatique avec paiement en ligne.</p>
									<p>Les produits exposés sont classé par catégorie.</p>
									<p>Sur la page produit un diaporama JS permet de naviguer entre les différentes images du produit. Et une fonction loupe permet de grossir l'image pour en observer les détails.</p>
									<p>Un back-office sécurisé permet au propriétaire de créer, modifier et détruire les produits et les catégories dont ils font partie.</p>

								</div>
							</div>
						</div>
					</div>
					<div class="basis-full my-3">
						<div class="single-service wow fadeInUp" data-wow-delay=".6s">
							<h3>
								<a href="http://shopdemo.usygec.fr" target="_blank" class=" stretched-link">Un magasin complet</a>
							</h3>
							<div class="flex justify-between">
								<div class="icon">
									<a href="http://shopdemo.usygec.fr" target="_blank">
										<i class="lni lni-cart-full"></i>
									</a>
								</div>
								<div class="col-10">
									<p>
										<strong>Ce site marchand fictif est une version étendue du site précedent.</strong>
									</p>
									<p>Il s’agit d’un magasin en ligne fake mais complet avec plusieurs fonctionalités supplémentaires :<br>
										1 - Un panier ou l’on peut ajouter ou soustraire des produits.<br>
										2 - Un système de facturation et d’archivage des factures dans la base de données.<br>
										3 - Une passerelle de paiement “Stripe”.
									</p>
									<p></p>
								</div>
							</div>
						</div>
					</div>
				</div>

				{# Cards Row formations #}
				<div class="single-head my-3 mt-5">
					<h1 class="fadeInUp" data-wow-delay=".4s">Exercices de formations :</h1>
					<div class="row">
						<div class="col-lg-3 col-md-6 basis-full">
							<div class="single-service wow fadeInUp" data-wow-delay=".2s">
								<h3>
									<a href="formation_js/beatmaker/index.html" target="_blank" class=" stretched-link">Sampler musical</a>
								</h3>
								<div class="icon">
									<a href="formation_js/beatmaker/index.html" target="_blank">
										<i class="lni lni-volume-medium"></i>
									</a>
								</div>
								<p>Une application faite en javascript dans le cadre d'une formation en ligne.</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 basis-full">
							<div class="single-service wow fadeInUp" data-wow-delay=".4s">
								<h3>
									<a href="formation_js/colorsample/index.html" target="_blank" class=" stretched-link">Gerez vos couleurs</a>
								</h3>
								<div class="icon">
									<a href="formation_js/colorsample/index.html" target="_blank">
										<i class="lni lni-pallet"></i>
									</a>
								</div>
								<p>Une autre application faite en javascript.</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 basis-full">
							<div class="single-service wow fadeInUp" data-wow-delay=".4s">
								<h3>
									<a href="formation_js/jswebsite/index.html" target="_blank" class=" stretched-link">Un site tres annimé</a>
								</h3>
								<div class="icon">
									<a href="formation_js/jswebsite/index.html" target="_blank">
										<i class="lni lni-css3"></i>
									</a>
								</div>
								<p>Un site plein d'animations en CSS/javascript utilisant les librairies GSAP et Barba.js.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
