		<div class="sub-menu-bar" id="navbarSupportedContent">
			<div class="flex flex-row justify-around mt-2">
				<div class="nav-item mx-2">
					<a class="nav-link" aria-label="Toggle navigation" href="{{ path('home') }}"><i class="fa-solid fa-house"></i> Accueil</a>
				</div>
				<div class="nav-item mx-2">
					<a class="nav-link" aria-label="Toggle navigation" href="{{path('contact')}}"><i class="fa-solid fa-envelope"></i> Contact</a>
				</div>
			</div>
		</div>
