.cursorily {
    cursor: pointer;
}

.hov:hover {
    color: #000;
}

.ico-size {
    font-size: 12px;
}

.ico-size-month {
    font-size: 19px !important;
    line-height: 13px !important;
}

.ico-size-large {
    font-size: 30px !important;
    line-height: 15px;
}

.dtp_main {
    border: solid 1px #eee;
    border-radius: 3px;
    background-color: #fff;
    padding: 8px 0 8px 8px;
    width: 175px;
    margin-top: 6px;
    display: flex;
    justify-content: space-evenly;
}

.dtp_main span,
.dtp_main i {
    display: inline-block;
    padding-right: 8px;
}

.dtp_modal-win {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #eeeeee;
    opacity: 0.6;
}

.dtp_modal-content {
    background-color: #fff;
    border: solid 1px #94a7af;
    border-radius: 10px;
    width: 530px;
    // position: absolute;
    z-index: 1000;
    // top: 100px;
    // left: 0;
    font-weight: normal;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dtp_modal-content-no-time {
    background-color: #fff;
    border-radius: 10px;
    width: 312px;
    position: absolute;
    z-index: 1000;
    top: 100px;
    left: 100px;
    font-size: 12px;
    font-weight: normal;
}

.dtp_modal-title {
    border-bottom: solid 2px #54646b;
    padding: 16px 36px;
    margin-bottom: 16px;
    font-size: 16px;
}

.dtp_modal-cell-date {
    // width: 312px;
    float: left;
    margin-bottom: 12px;
    border-right: solid 1px #54646b;
    padding: 0 15px;
}

.dtp_modal-cell-time {
    width: 215px;
    float: right;
    direction: ltr;
}

.dtp_modal-months {
    color: #7d7d7d;
    text-align: center;
    font-size: 15px;
    padding: 0 20px;
}

.dtp_modal-months span {
    display: inline-block;
    padding: 10px 20px;
    width: 182px;
}

.dtp_modal-calendar {
    width: 266px;
    margin: 0 auto;
}

.dtp_modal-calendar-cell {
    width: 38px;
    padding: 7px 0;
    display: inline-block;
    text-align: center;
}

.dtp_modal-colored {
    color: #54646b;
}

.dtp_modal-grey {
    color: #c0c0c0;
}

.dtp_modal-cell-selected {
    background-color: #54646b;
    color: #fff;
    border-radius: 48%;
    transition: background-color 1s ease-out;
}

.dtp_modal-time-block {
    height: 150px;
    width: 200px;
}

.dpt_modal-button {
    background-color: #54646b;
    color: #fff;
    font-size: 18px;
    padding: 8px 40px;
    float: left;
    text-align: center;
    display: inline-block;
    margin: 40px 0px 30px 25px;
    cursor: pointer;
    border: solid 1px #fff;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dtp_modal-time-line {
    text-align: center;
    color: #7d7d7d;
    font-size: 15px;
    padding-top: 15px;
}

.dtp_modal-time-mechanic {
    padding-top: 16px;
}

.dtp_modal-append {
    color: #7d7d7d;
    font-weight: normal;
    display: flex;
    justify-content: center;
}

.dtp_modal-midle {
    display: inline-block;
    width: 40px;
}

.dtp_modal-midle-dig {
    display: inline-block;
    width: 16px;
    margin: 0px;
    text-align: center;
}

.dtp_modal-digits {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

@media (max-width: 450px) {

    .h1,
    h1 {
        font-size: 1.5rem;
    }

    .dtp_modal-content {
        width: 98%;
        font-size: smaller;
    }

    .dtp_modal-title {
        padding: 8px 16px;
        margin-bottom: 8px;
    }

    .dtp_modal-cell-date {
        float: none;
        border-right: none;
        border-bottom: solid 1px #54646b;
        padding: 0;
    }

    .dtp_modal-time-line {
        padding-top: 0px;
    }

    .dtp_modal-time-mechanic {
        padding-top: 0px;
    }

    .dtp_modal-cell-time {
        width: 100%;
        font-size: smaller;
        float: none;
        display: inline-grid;
        justify-content: center;
    }

    .dtp_modal-digit {
        font-size: smaller;
    }

    .dtp_modal-midle-dig {
        font-size: smaller;
    }

    .dpt_modal-button {
        font-size: 12px;
        padding: 4px 20px;
        float: none;
        margin: 5px auto;
    }

    .dtp_modal-time-block {
        height: 125px;
    }

}

@media screen and (min-width: 450px) and (max-width: 768px) {

    .h1,
    h1 {
        font-size: 1.5rem;
    }

    .dtp_modal-content {
        width: 490px;
        font-size: smaller;
    }

    .dtp_modal-title {
        padding: 8px 16px;
        margin-bottom: 8px;
    }

    .dtp_modal-cell-date {
        padding: 0;
    }

    .dtp_modal-time-line {
        padding-top: 0px;
    }

    .dtp_modal-time-block {
        width: 165px;
        height: 142px;
    }

    .dtp_modal-time-mechanic {
        padding-top: 0px;
    }

    .dtp_modal-calendar {
        width: 266px;
        margin: 0 5px;
    }

    .dtp_modal-calendar-cell {
        padding: 2px 0;
    }

    .dtp_modal-cell-time {
        margin-top: 20px;
        width: 210px;
        float: right;
        font-size: smaller;
        display: inline-grid;
        justify-content: center;
    }

    .dtp_modal-digit {
        font-size: smaller;
    }

    .dtp_modal-midle-dig {
        font-size: smaller;
    }

    .dpt_modal-button {
        font-size: 12px;
        padding: 4px 20px;
        margin: 5px auto;
    }

}
