{% extends 'base.html.twig' %}

{% block title %}New Activities
{% endblock %}

{% block content %}
	<h1>Create new Activities</h1>

	{# {{ include('bam/activities/_form.html.twig') }} #}

{% endblock %}
