<h1>Bonjour!</h1>

<p>Pour changer votre mot de passe , suivez le lien ci-joint :
	<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">Réinitialisation du mot de passe.</a>
</p>

<p>Ce lien expirera dans :
	{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Cordialement</p>
<p>L'équipe Usygec</p>
