{% extends 'raw.html.twig' %}

{% block title %}Hello BeneficiareController!
{% endblock %}

{% block content %}

	<div class="card w-full md:w-2/5 p-5">
		<h1>Bienvenue dans IdFraCon</h1>
		<div class="felx flex-row justify-between">
			<div class="flex-none w-3/4">
				<p>Cette application va vous permettre de personnaliser les clauses bénéficiaires que vous présentez a vos assurés.</p>
			</div>
			<div class="flex flex-col p-5">
				<div class="w-full my-3">
					<h2>Creation, modification, supression des clauses.</h2>
          <div class="flex flex-row">
					<a href="{{ path('app_clauses_index')}}" class="mt-0">
						<i class="fa-regular fa-pen-to-square text-4xl mx-3"></i>
					</a>
					<p class="mt-2">Creation, modification, supression des clauses.</p>
				</div></div>
				<div class="w-full my-3">
					<h2>IdFraCon</h2>
          <div class="flex flex-row">
					<a href="{{ path('app_entry')}}" class="mt-0">
						<i class="fa-solid fa-cubes text-4xl mx-3"></i>
					</a>
					<p class="mt-2">Accés direct à l'application.</p>
				</div></div>
			</div>
		</div>
	</div>
{% endblock %}
